@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;800&display=swap');

body {
    background-color: #fafafa;
    font-family: 'Nunito', sans-serif;
}

.block {
    display: block;
    position: relative;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(109, 105, 105, 0.15) 4px 4px 25px 0px;
    padding: 15px;
    margin-top: 20px;
}

.block_ {
    display: block;
    position: relative;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(109, 105, 105, 0.15) 4px 4px 25px 0px;
    overflow: hidden;
    padding: 15px;
    margin-top: 20px;
}

.block h3 {

    font-weight: 600;
    font-size: 1.3rem;
    margin: 10px;
    text-align: left;

}

.block h4 {

    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px;
    text-align: left;

}

.modal-header {
    background-color: #6639e9;
    color: #fafafa;
}

#mensagens {
    margin-top: 10px;
}

#tabela_lista a {
    color: darkgray;
}

#tabela_lista a:hover {
    color: #e01414;
}

.table {
    padding: 0rem 0rem;
}

.table th {
    white-space: nowrap;
}

.table-hover thead tr:hover th,
.table-hover tbody tr:hover td {
    background: #fafafa !important;
}

.btn-rounded {
    border-radius: 50px;
    padding: 5px 15px;
}

#info h1 {

    font-size: 6rem;
    font-weight: 700;

}

nav#topo h1 {
    letter-spacing: -2px;
}

#info {
    padding: 20px 0;
}

.navbar-expand-lg {
    padding: 12px;
}

.navbar-expand-lg a {
    color: #fff;
}

.navbar-expand-lg a:hover,
.navbar-expand-lg a:active {
    color: #fb851e;
}

/* .active { color: #fb851e;} */

.navbar-brand,
.navbar-toggler,
.navbar-toggler-icon {
    color: #fff;
}

a.anchor {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
}

#topo {
    background-image: linear-gradient(to right, #6639e9, #8555f5);
}

.padding_topo {
    height: 90px;
}

.resumo_dark_block {
    background-color: #6639e9;
    color: #fff;
    margin: -15px;
    padding: 10px;
}

.dropdown-menu a {
    color: #6639e9;
}

.resumo_text {
    font-size: 0.8rem;
}

.resumo_data {
    text-align: right;
}

.resumo_ultimo, .resumo_melhor {
    text-align: left;
}

#resumo_melhor_box {display: none}

#resumo_melhor_button, #resumo_ultimo_button{
    --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
}

.resumo_local_icon {
    font-size: 1.8rem;
    margin-bottom: 0px;
    margin-top: -10px;
}

.resumo_local, .resumo_local_melhor {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: -5px;
}

.resumo_pace, .resumo_pace_melhor {
    font-size: 1.8rem;
    font-weight: bolder;
    margin: -8px;
}

.resumo_pace span, .resumo_pace_melhor span {
    font-size: 1rem;
    font-weight: 200;
}

.resumo_distancia, .resumo_distancia_melhor{
    font-size: 4rem;
    font-weight: bolder;
    margin: -8px;
    letter-spacing: 1px;
    margin-bottom: -25px;
}

.resumo_distancia span, .resumo_distancia_melhor span {
    font-size: 1.2rem;
    font-weight: 200;
}

.resumo_horario, .resumo_horario_melhor {
    font-size: 1.8rem;
    font-weight: bolder;
    margin: -8px;
}

#resumo_qtd_atividades {
    font-size: 6rem;
    font-weight: 600;
}

#resumo_km {
    font-size: 1rem;
    font-weight: 300;
}

#resumo_km span,
#resumo_elevacao span {
    font-weight: 700;
}

#resumo_tempo_total {
    font-size: 2rem;
    font-weight: 600;
}

.resumo_atividade {
    margin-top: -30px;
    margin-bottom: 25px;
}

.resumo_movimento {
    margin-top: -10px;
    margin-bottom: 15px;
}

.clock {
    font-size: 1.4rem;
    margin-top: -10px;
}

.orange,
.velocidade {
    color: #fb851e;
}

.viollet,
.livre {
    color: #6639e9;
}

.green,
.check {
    color: #6dae8d;
}

.ciano,
.intervalado {
    color: #0098d8;
}

.magenta,
.subida {
    color: #c81d7e;
}

.black,
.prova {
    color: #000;
}

#user_carol,
#user_altino {
    display: none;
}

#user_name {
    display: inline;
    font-weight: bold;
}

#user_icon {
    display: inline;
    margin-left: 4px;
}

#user_icon img {
    border: #FFF solid 1px;
    border-radius: 50%;
}

/* to remove arrow at submenu*/
.dropdown-toggle::after {
    display: none
}

.nav-link {
    line-height: 38px;
}


#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    z-index: 99;
    background-color: #ffffff;
    display: none;
}

#loading-image {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 100
}


.datepicker-dropdown .datepicker-picker {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    padding: 10px;
}

@media (max-width: 767.98px) {

    body {
        font-size: 0.9rem;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }

    a.anchor {
        display: block;
        position: relative;
        top: -110px;
        visibility: hidden;
    }

    .padding_topo {
        height: 70px;
    }

    .block,
    .block_ {

        margin-top: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .resumo_local_icon {
        font-size: 1.8rem;
        margin-bottom: 0px;
        margin-top: -15px;
    }
    
    .resumo_local {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
    }
    
    .resumo_pace {
        font-size: 1rem;
        font-weight: bolder;
        margin-top: -25px;
    }
    
    .resumo_pace span {
        font-size: .8rem;
        font-weight: 200;
    }
    
    .resumo_distancia {
        font-size: 2.8rem;
        font-weight: bolder;
        /* margin: -8px; */
        letter-spacing: 1px;
        margin-bottom: -15px;
    }
    
    .resumo_distancia span {
        font-size: 1rem;
        font-weight: 200;
    }

    .resumo_horario {
        font-size: 1rem;
        font-weight: bolder;
        /* margin: -8px; */
        margin-top: -25px;
    }

    .clock {
        font-size: 1.4rem;
        margin-top: 2px;
    }
    
}

@media (min-width: 1200px) { 

    .resumo_local_icon {
        font-size: 1.8rem;
        margin-top: -15px;
    }
    
    #resumo_km, #resumo_elevacao{
        font-size: 1.2rem;
    }
    .resumo_text {
        font-size: .9rem;
    }

}