@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;800&display=swap');

body {
    background-color: #fafafa;
    font-family: 'Nunito', sans-serif;
}

.block {
    display: block;
    position: relative;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(109, 105, 105, 0.15) 4px 4px 25px 0px;
    overflow: hidden;
    padding: 15px;
    margin-top: 20px;
}

.block h3 {

    font-weight: 600;
    font-size: 1.3rem;
    margin: 10px;
    text-align: left;

}

.block h4 {

    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px;
    text-align: left;

}
.mensagens {
    margin-top: 10px;
}

.table {
    padding: 0rem 0rem;
}

.table th {white-space: nowrap;}

.btn-rounded {
    border-radius: 50px;
    padding: 5px 15px;
  }

#info h1 {

    font-size: 6rem;
    font-weight: 700;

}
nav#topo h1 {
    letter-spacing: -2px;
}

#info {
    padding: 20px 0;
}

.navbar-expand-lg {
    padding: 12px;
}

.navbar-expand-lg a{
    color: #fff;
}
.navbar-expand-lg a:hover, .navbar-expand-lg a:active{
    color: #fb851e;
}

.active { color: #fb851e;}

.navbar-brand, .navbar-toggler, .navbar-toggler-icon{
    color: #fff;
}

a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

.resumo_dark_block {
    background-color: #6639e9;
    color: #fff;
    margin: -15px;
    padding: 10px;
}

.dropdown-menu a {color: #6639e9;}

.resumo_text {
    font-size: 0.8rem;
}
.resumo_data { text-align: right;}
.resumo_ultimo { text-align: left;}
.resumo_local_icon {font-size: 1.8rem; margin-bottom: 0px; margin-top: 5px;}
.resumo_local { font-size: 1.2rem; font-weight: 300; margin: 0;}
.resumo_pace {font-size: 2.4rem; font-weight: bolder; margin: -8px;}
.resumo_pace span{font-size: 1.2rem; font-weight: 200;}

#resumo_qtd_atividades {font-size: 6rem; font-weight: 600;}
#resumo_km {font-size: 1rem; font-weight: 300;}
#resumo_km span, #resumo_elevacao span  {font-weight: 700;}
#resumo_tempo_total {font-size: 2rem; font-weight: 600;}
.resumo_atividade {margin-top: -30px; margin-bottom: 25px;}
.resumo_movimento {margin-top: -10px; margin-bottom: 15px;}
.clock {font-size: 1.4rem;}

.orange, .velocidade {color: #fb851e;}
.viollet, .livre {color: #6639e9;}
.green, .check {color: #6dae8d;}
.ciano, .intervalado { color: #0098d8;}
.magenta, .subida { color: #c81d7e;}
.black, .prova { color: #000;}

#user_carol, #user_altino { display: none;}
#user_name {display: inline; font-weight: bold;}
#user_icon {display: inline; margin-left: 4px; }
#user_icon img {border: #FFF solid 1px; border-radius: 50%;}

/* to remove arrow at submenu*/
.dropdown-toggle::after {
    display: none
}

.nav-link {
    line-height: 38px;
}


#loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background-color: #ffffff;display: none;}
#loading-image {position: absolute;top: 40%;left: 45%;z-index: 100} 

@media (max-width: 767.98px) {

    body {
        font-size: 0.9rem;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .1);
        padding-left: calc(var(--bs-gutter-x) * .1);
    }

}

